header{
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>img{
    height: 100px;
}
nav{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}